<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="credits_header">This site made possible through API's provided by</div>
			<div class="credit_container">
				<ul>
					<li class="col-md-2">
						<a href="http://openweathermap.org">
							<img src="images/logos/open_w_map.png" alt="Open Weathermap" >
							<span id="owm_credit">OpenWeatherMap</span>
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="http://www.faroo.com" target="_top" title="FAR00 Web Search">
						<img id="faroo_img" src= "http://www.faroo.com/hp/api/faroo_attribution.png" 
						alt="FAROO Web Search // Full privacy // No spam." border="0" />
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="https://www.google.com">
							<img id="google" src="images/logos/Logo_Google_2013_Official.svg.png" alt="Google" >
						</a>
				  </li>
				  
				  <li class="col-md-2">
						<a href="https://www.yelp.com">
							<img id="yelp" src="images/logos/yelp-2c.jpg" alt="Yelp" >
						</a>
				  </li>
				  <!-- <li class="col-md-2">
						<a href="https://www.eventfinda.com">
							<img id="eventfinda" src="images/logos/eventfinda.png" alt="Eventfinda" >
						</a>
				  </li> -->
				  <li class="col-md-2">
						<a href="https://www.blockspring.com">
							<img src="images/logos/blocksprint.png" alt="Blockspring" >
							<span id="bs_credit">Blockspring</span>
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="https://www.GeoNames.org">
							<img id="geonames" src="images/logos/geonames.gif" alt="GeoNames" >
							<span id="geonames_credit">GeoNames</span>
						</a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>