<navbar></navbar>
<header></header>
<day-astro-quote></day-astro-quote>
<forcast></forcast>
<div class="container">
  <div class="tabs_container">
    <tabset>
      <tab heading="News"><faroo></faroo></tab>
      <!-- <tab heading="Movies"><movies></movies></tab> -->
      <tab heading="Yelp"><yelp></yelp></tab>
      <tab heading="Events"><events></events></tab>
      <tab heading="Attractions"><places></places></tab>
      <tab heading="Tweets"><twitter></twitter></tab>
      <tab heading="Meetup"><meetup></meetup></tab>
      <tab heading="Nearby"><nearby></nearby></tab>
      <tab>
        <tab-heading>
        <i class="fa fa-usd"></i> <i class="fa fa-exchange"></i> <i class="fa fa-eur"></i>
        </tab-heading>
        <rates></rates>
      </tab>

    </tabset>
  </div>
  <map></map>
  <credits></credits>
</div> 