<navbar></navbar>
<header></header>
<day-astro-quote></day-astro-quote>
<forcast></forcast>
<div class="container">
  <div class="tabs_container">
    <tabset>

      <tab heading="News"><faroo></faroo></tab>

      <!-- <tab heading="Movies"><movies></movies></tab> -->

      <tab heading="Yelp"><yelp></yelp></tab>

      <tab heading="Event"><events></events></tab>

      <tab heading="Attractions"><places></places></tab>

      <tab  ng-controller="TwitterCtrl" ng-click="get_twitter()">
        <tab-heading>
          <div>Tweets</div>
        </tab-heading>
        <twitter></twitter>
      </tab>

      <tab  ng-controller="meetupCtrl" ng-click="get_meetup()">
        <tab-heading>
          <div>Meetup</div>
        </tab-heading>
        <meetup></meetup>
      </tab>

      <tab heading="Nearby"><nearby></nearby></tab>

      <tab ng-controller="RatesCtrl" ng-click="get_rates()">
        <tab-heading>
        <i class="fa fa-usd"></i> <i class="fa fa-exchange"></i> <i class="fa fa-eur"></i>
        </tab-heading>
        <rates></rates>
      </tab>

    </tabset>
  </div>
  <map></map>
  <credits></credits>
</div> 