<div class="row">
		<div class="places_container">
			<div class="col-md-12">
				<div ng-controller="PlacesCtrl">
					<ul>
						<li ng-repeat="place in places">
							<ul>
								<li>
								  <a ng-show="place.url" href="{{place.website}}" target="_blank">
								  <img ng-show="place.url" ng-src="{{place.url}}"/></a>
								</li>
								<li ng-show="place.name" class="mname"> {{place.name}}</li>
								<li ng-show="place.types[0]"> {{place.types[0] | formatType}}</li>
								<li ng-show="place.formatted_phone_number"> {{place.formatted_phone_number}}</li>
								<li ng-show="place.formatted_address"> {{place.formatted_address}}</li>
								<li ng-controller="SetLatLng" class="mapit" ng-click="set_marker(place.geometry.location)" ng-show="place.geometry.location"> Map it</li>
								<li ng-show="place.website"><a ng-href="{{place.website}}" target="_blank">Website</a></li>
								<li><hr></li>
							</ul>
					  </li>
					</ul>
				</div>
			</div>
		</div>
</div>