<div class="placespanel" ng-controller="DetailsCtrl">
  <p ng-show="spinner" class="places_spinner">
    <i class="fa fa-refresh fa-spin fa-2x"></i>
  </p>
  <ul >
    <li ng-repeat="place in places">
      <div ng-if="place.status == 'ZERO_RESULTS'">
        <p>Sorry No Results </p>
      </div>
      <div ng-if="place.status != 'ZERO_RESULTS'">
        <ul class="horz_list">
          <li>
          <span id="{{place.name | formatId}}" ng-click="select(place)"> {{place.name}}
          <i ng-class="{rotate: isActive(place)}" class="fa fa-caret-right"></i>
          </span>
          </li>
        </ul>
        <div ng-show="has_details" class="details" ng-class="{active: isActive(place)}">
          <p ng-hide="details.formatted_address"><i class="fa fa-refresh fa-spin fa-2x"></i></p>
          <ul>
            <li>
              <a ng-if="details.url" href="{{details.website}}" target="_blank">
              <img ng-show="details.url" ng-src="{{details.url}}"/></a>
            </li>
            <li ng-show="details.types[0]"> {{details.types[0] | formatType}}</li>
            <li ng-show="details.formatted_phone_number"> {{details.formatted_phone_number}}</li>
            <li ng-show="details.formatted_address"> {{details.formatted_address}}</li>
            <li ng-controller="SetLatLng" class="mapit" ng-click="set_marker(details.geometry.location)" ng-show="details.geometry.location"> Map it</li>
            <li ng-show="details.website"><a ng-href="{{details.website}}" target="_blank">Website</a></li>
          </ul>
        </div>
      </div>
      <br/>
    </li>
  </ul>
    <button ng-hide="spinner" id="{{btntxt}}">More results</button>
</div>
