<div class="row">
	<div class="yelp_container">
		<div class="col-md-12">
			<div class="yelplist" ng-controller="YelpCtrl">
			<accordion>

			<accordion-group>
				<accordion-heading>
					<div class="panel-heading">Search</div>
				</accordion-heading>
				<div class="newspanel">
					<p class="input-group">
						<form ng-submit="submit()" >
							<input type="query" ng-model="yelp.query" name="query" />
							<input class="btn btn-default" type="submit" id="submit" value="Submit" />
							<br/>
							<label>Filter:
							<select ng-model="yelp.selectedItem" ng-options="filter.type for filter in filters">
								<option value="filter.value"></option>
							</select>
							</label>
						</form>
					</p>
					<div>
					<yelpa things="search" spinner="search_spinner" ></yelpa>
					<pagination ng-show="is_search" id="search" total-items="search.count" ng-model="currentPage" ng-click="setPage(currentPage, 'search')"></pagination>
					</div>
				</div>
			</accordion-group>

				<accordion-group>
					<accordion-heading>
						<div class="panel-heading" ng-click="load_yelp('art')">Art</div>
					</accordion-heading>
					<div  class="newspanel">
						<yelpa things="art" spinner="art_spinner" ></yelpa>
						<pagination ng-hide="art_spinner" id="art" total-items="art.count" ng-model="currentPage" ng-click="setPage(currentPage, 'art')"></pagination>
					</div>
				</accordion-group>

				<accordion-group>
					<accordion-heading>
						<div class="panel-heading" ng-click="load_yelp('hotels')">Hotels</div>
					</accordion-heading>
					<div  class="newspanel">
						<yelpa things="hotels" spinner="hotels_spinner" ></yelpa>
						<pagination ng-hide="hotels_spinner" id="hotels" total-items="hotels.count" ng-model="currentPage" ng-click="setPage(currentPage, 'hotels')"></pagination>
					</div>
				</accordion-group>

				<accordion-group>
					<accordion-heading>
						<div class="panel-heading" ng-click="load_yelp('music')">Music</div>
					</accordion-heading>
					<div  class="newspanel">
						<yelpa things="music" spinner="music_spinner" ></yelpa>
						<pagination ng-hide="music_spinner" id="music" total-items="music.count" ng-model="currentPage" ng-click="setPage(currentPage, 'music')"></pagination>
					</div>
				</accordion-group>

				<accordion-group>
					<accordion-heading>
						<div class="panel-heading" ng-click="load_yelp('restaurants')">Restaurants</div>
					</accordion-heading>
					<div  class="newspanel">
						<yelpa things="restaurants" spinner="restaurants_spinner" ></yelpa>
						<pagination ng-hide="restaurants_spinner" id="restaurants" total-items="restaurants.count" ng-model="currentPage" ng-click="setPage(currentPage, 'restaurants')"></pagination>
					</div>
				</accordion-group>

				<accordion-group>
					<accordion-heading>
						<div class="panel-heading" ng-click="load_yelp('theatre')">Theatre</div>
					</accordion-heading>
					<div  class="newspanel">
						<yelpa things="theatre" spinner="theatre_spinner" ></yelpa>
						<pagination ng-hide="theatre_spinner" id="theatre" total-items="theatre.count" ng-model="currentPage" ng-click="setPage(currentPage, 'theatre')"></pagination>
					</div>
				</accordion-group>

			</accordion>
			</div>
		</div>
	</div>
</div>